<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ogong.service.learningHistory.LearningHistoryMapper">
 	
	<resultMap id="learningHistorySelectMap" type="learningHistory">
		<result property="learningTime" 			column="learning_time" 			jdbcType="VARCHAR" />
		<result property="learningType" 			column="learning_type" 			jdbcType="VARCHAR" />
		<result property="learningDate" 			column="learning_date" 			jdbcType="VARCHAR" />
	</resultMap>
	
	 
	
	<insert id="addLearningHistory" parameterType="learningHistory">
		INSERT 
		INTO learning_history
		(learning_history_no, email, learning_time, learning_type, learning_date)
		VALUES
		(
		seq_learning_history_no.NEXTVAL,
		#{email},
		( SELECT TO_CHAR (TRUNC (time / 3600), 'fm00')
		       	|| ':'
		       	|| TO_CHAR (TRUNC (ABS (MOD (time, 3600)) / 60), 'fm00')
		       	|| ':'
		       	|| TO_CHAR (MOD (time, 60), 'fm00') learning_time
		  FROM
		  (SELECT TO_NUMBER (SUBSTR (learning_time, 1, 2)) * 60 * 60
		           + TO_NUMBER (SUBSTR (learning_time, 4, 2)) * 60
		           + TO_NUMBER (SUBSTR (learning_time, 7, 2)) time
		   FROM camstudy_member
		   WHERE email = #{email} AND study_no = #{studyNo}) ),
		#{learningType},
		SYSDATE
		)
	</insert>
	 
	 <select id="getLearningHistoryList" parameterType="map" resultMap="learningHistorySelectMap">
	 
	 	SELECT    TO_CHAR (TRUNC (NVL(total,'0') / 3600), 'fm00')
		       || ':'
		       || TO_CHAR (TRUNC (ABS (MOD (NVL(total,'0'), 3600)) / 60), 'fm00')
		       || ':'
		       || TO_CHAR (MOD (NVL(total,'0'), 60), 'fm00') learning_time, learning_type, learning_date
		FROM (SELECT SUM (
		                    TO_NUMBER (SUBSTR (learning_time, 1, 2)) * 60 * 60
		                  + TO_NUMBER (SUBSTR (learning_time, 4, 2)) * 60
		                  + TO_NUMBER (SUBSTR (learning_time, 7, 2))) TOTAL, learning_type, TO_CHAR(learning_date,'yyyy-mm-dd') learning_date
				FROM learning_history
				WHERE email = #{email}
				GROUP BY TO_CHAR(learning_date,'yyyy-mm-dd'), learning_type
				HAVING TO_CHAR(learning_date,'yyyy-mm-dd') LIKE #{month}||'%')
			
		ORDER BY learning_date

	 </select>
	 
	 <select	id="getTodayLearningTime"	parameterType="string" resultType="string">
	 
	 	SELECT    TO_CHAR (TRUNC (NVL(total,'0') / 3600), 'fm00')
	       || ':'
	       || TO_CHAR (TRUNC (ABS (MOD (NVL(total,'0'), 3600)) / 60), 'fm00')
	       || ':'
	       || TO_CHAR (MOD (NVL(total,'0'), 60), 'fm00') time
		FROM (SELECT SUM (
 	                   TO_NUMBER (SUBSTR (learning_time, 1, 2)) * 60 * 60
 	                 + TO_NUMBER (SUBSTR (learning_time, 4, 2)) * 60
 	                 + TO_NUMBER (SUBSTR (learning_time, 7, 2))) TOTAL
				FROM learning_history
				WHERE email = #{value} AND TO_CHAR(learning_date,'yyyy-mm-dd') = TO_CHAR(SYSDATE,'yyyy-mm-dd'))
	 	
	 </select>
	 
	 <select	id="getAverageLearningTime"	parameterType="string" resultType="string">
	 
	 	SELECT    TO_CHAR (TRUNC (NVL(total,'0') / 3600), 'fm00')
       		|| ':'
       		|| TO_CHAR (TRUNC (ABS (MOD (NVL(total,'0'), 3600)) / 60), 'fm00')
       		|| ':'
       		|| TO_CHAR (MOD (NVL(total,'0'), 60), 'fm00') time
		FROM(SELECT AVG(total) total
			 FROM (SELECT SUM(
	                    	TO_NUMBER (SUBSTR (learning_time, 1, 2)) * 60 * 60
	                  		+ TO_NUMBER (SUBSTR (learning_time, 4, 2)) * 60
	                  		+ TO_NUMBER (SUBSTR (learning_time, 7, 2))) TOTAL, TO_CHAR(learning_date, 'yyyy-mm-dd') day
						FROM learning_history
						WHERE email = #{value}
						GROUP BY TO_CHAR(learning_date, 'yyyy-mm-dd')) )
	 	
	 </select>
	 
	 <select	id="getTotalLearningTime"	parameterType="string" resultType="string">
	 
	 	SELECT    TO_CHAR (TRUNC (NVL(total,'0') / 3600), 'fm00')
	       || ':'
	       || TO_CHAR (TRUNC (ABS (MOD (NVL(total,'0'), 3600)) / 60), 'fm00')
	       || ':'
	       || TO_CHAR (MOD (NVL(total,'0'), 60), 'fm00') time
		FROM (SELECT SUM (
	                    TO_NUMBER (SUBSTR (learning_time, 1, 2)) * 60 * 60
	                  + TO_NUMBER (SUBSTR (learning_time, 4, 2)) * 60
	                  + TO_NUMBER (SUBSTR (learning_time, 7, 2))) TOTAL
				FROM learning_history
				WHERE email = #{value})
	 	
	 </select>
	 
	 <select	id="getlineChartTime"	parameterType="map" resultMap="learningHistorySelectMap">
	 
	 	SELECT    TO_CHAR (TRUNC (total / 3600), 'fm00')
       		|| ':'
       		|| TO_CHAR (TRUNC (ABS (MOD (total, 3600)) / 60), 'fm00')
       		|| ':'
       		|| TO_CHAR (MOD (total, 60), 'fm00') AS learning_time, TRUNC(total/60) AS learning_type, day AS learning_date
         FROM (SELECT SUM(
                        TO_NUMBER (SUBSTR (learning_time, 1, 2)) * 60 * 60
                        + TO_NUMBER (SUBSTR (learning_time, 4, 2)) * 60
                        + TO_NUMBER (SUBSTR (learning_time, 7, 2))) TOTAL, TO_CHAR(learning_date, 'yyyy-mm-dd') day
                    FROM learning_history
                    WHERE email = #{email} AND TO_CHAR(learning_date,'yyyy-mm-dd') LIKE #{month}||'%'
                    GROUP BY TO_CHAR(learning_date, 'yyyy-mm-dd'))
	 	
	 </select>
	 
	 <select	id="getPieChartTime"	parameterType="map" resultMap="learningHistorySelectMap">
	 
	 	SELECT total AS learning_time, learning_type
        FROM (SELECT TRUNC(SUM(
                       TO_NUMBER (SUBSTR (learning_time, 1, 2)) * 60 * 60
                        + TO_NUMBER (SUBSTR (learning_time, 4, 2)) * 60
                        + TO_NUMBER (SUBSTR (learning_time, 7, 2)))/60) TOTAL, learning_type
              FROM learning_history
              WHERE email = #{email} AND TO_CHAR(learning_date,'yyyy-mm-dd') LIKE #{month}||'%'
              GROUP BY learning_type)
	 	
	 </select>
	
</mapper>